@media (max-width: 1199px) {

    .inner-page.tours-page {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .inner-tours-header {
        margin-bottom: 40px;
    }

    .inner-tours-title {
        font-size: 50px;
    }

    .card-title-wrapper {
        padding: 0 20px;
        height: 60px;
    }

    .card-free-tours, .cars-extreme-rest {
        width: 420px;   
    }

    .card-incredible-adventure, .card-trekking-hike {
        width: 495px;
    }

    .card-exotic-jungle {
        width: 345px;
    }

    .card-title {
        font-size: 24px;
    }
}