@media (max-width: 1199px) {

    .inner-page.treking-page {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .article-nav-title-list a {
        font-size: 18px;
    }

    .article {
        width: 570px;
    }

    .article h1 {
        margin-bottom: 20px;
        font-size: 50px;
    }

    .article h2 {
        margin-top: 22px;
        margin-bottom: 10px;
    } 
    
    .article h3 {
        margin-top: 21px;
        margin-bottom: 10px;
    }
    
    .article h4, .article h5, .article h6 {
        margin-top: 18px;
        margin-bottom: 14px;
    }

    .article p {
        font-size: 18px;
    }

    .article img {
        margin-top: 30px;
        margin-bottom: 30px;
    }

}